
  h1 {
    font-size: 36px;
    padding: 15px;
    color: #212D40;
  }
  
  h2 {
    font-size: 24px;
    padding: 15px;
    text-transform: uppercase;
  }
  th {
    border: 1px solid #212D40;
  }
  
  table {
    text-align: center;
    margin: 20px auto;
  }
  
  td {
    border: 2px solid #212D40;
    width: 300px;
  }
  
  .container {
    max-width: 940px;
    margin: 0 auto;
    height: 800px;
  }
  
  
  .left {
    width: 150px;
  }
  